.add-new-card-form {
  gap: 2vh;
  width: 50%;
}

.medium-font {
  font-size: medium;
}

.form-input-spacing {
  padding: 0.5vh 0.5%;
}

.add-new-card-form input, textarea {
  border: none;
  border-bottom: 1px solid black;
}

.add-new-card-form label {
  gap: 1vh;
}

button {
  align-self: center;
}

.trunfo-label {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
}
