.card {
  align-items: center;
  border: 3px solid rgb(107, 107, 107);
  border-radius: 10px;
  gap: 2vh;
  justify-content: center;
  padding: 2vh 2%;
  width: 250px;
}

.card p {
  text-align: center;
  width: 90%;
  word-wrap: break-word;
}

.card p span {
  margin-left: 2%;
}

.card img {
  border: 3px solid rgb(107, 107, 107);
  width: 90%;
}
